body{
    background-color:rgb(17, 116, 102);
    color: rgb(246, 245, 245);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    color: azure;
}
legend{
    font-family: 'Times New Roman', Times, serif;
    color: aquamarine;
 }
fieldset{
    border: white 2px solid;
 }
#button{
    display: flex;
    flex-flow: column;
    padding: 0 20px;
    width: max-content;
}
button{
    margin: 5px;
    border: none;
    height: 40px;
    border-radius: 20px;

}
button:hover{
    border: none;
    
    background-color: #4A3469;
    color: white;
}
button:focus{
    outline: none;
}
button:hover{
    transition: ease-out 1s;
}

#recipe{
    font-family: Arial, Helvetica, sans-serif;
    color: aquamarine;
    position: absolute;
    margin-top: -45em;
    margin-left: 60em;
}